  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/foundation/css/normalize.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/bower_components/foundation/css/foundation.min.css" type="text/css" media="all" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
