<!DOCTYPE html>
<html>
  <% include partials/masthead %>
  <% include partials/navigation %>
  <body>
    <div class="row">
      <div class="flash-container">
        <% include partials/flash %>
      </div>
    </div>
    <div class="row">
      <%- body -%>
    </div>
    <% include partials/footer-scripts %>
  </body>
</html>
