<% layout('index') %>
<h1>Reset Password</h1>
<form action="/users/forgot-password" method="post">

  <label for="email">Email Address</label>
  <input type="email" name="email" autofocus />

  <button class="large button success">Reset Password </button>
</form>
