
<% layout('index') %>
<h1>Reset Password</h1>
<form method="post">

  <input type="hidden" name="token" value="<%= user.resetPasswordToken %>" />

  <label for=""password>New Password </label>
  <input type="password" name="password" placeholder="New Password" />

  <label for="confirm">Confirm Password </label>
  <input type="password" name="confirm" placeholder="Confirm Password" />

  <button class="large button success">Update Password </button>
</form>
